@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100&family=Dancing+Script&display=swap');

body {
    font-family: 'Advent pro', sans-serif;
    padding: 0;
    margin: 0;
}
ul{
    margin: 0;
    padding: 0;
}
li {
    list-style-type: none;
}
h2 {
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
    font-size: 2em;
}
a {
    text-decoration: none;
    color: black;
}
/* **********************NAVBAR*************** */
nav {
    overflow: hidden;
    background-color: #FFFAE1;
    position: fixed;
    width: 100%;
    opacity: 0.9;
}
header li {
    float: right;
    font-size: 1.2em;
}
header li a{
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 18px 16px;
}
#logo {
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    float: left;
}
/* **************** Image Principale *************** */
#imagePrincipale {
    padding-top: 60px;
    background: url(media/image.png) no-repeat fixed 50% 50%;
    background-size: cover;
    height: 799px;
}
h1 {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: black;
    font-size: 6em;
    margin-top: 100px;
    text-shadow: 1px 3px 2px darkblue;
}
#PremierTrait {
    height: 1px;
    width: 25%;
    margin: -3px auto;
    background-color: black;
    box-shadow: 1px 3px 2px darkblue;
}
h3 {
    text-align: center;
    color: black;
    font-size: 3em;
    text-shadow: 1px 3px 2px darkblue;
}
/* **************************Presentation************** */
#presentation {
    background-color: #FFFAE1;
    padding: 10px 0px 100px 0px;
    
}
#texteIntro {
    padding: 0px 20%;
}
#prestation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 10px;
}
.imagePrestations h4 {
    font-family: 'Dancig Script', cursive;
    text-align: center;
    font-size: 1.8em;
    margin: 15px;
    font-weight: 300;
}
.imagePrestations img {
    border-radius: 10px;
    box-shadow: 3px 4px 5px 4px rgba(0, 0, 0, 0.7);
}
.imagePrestations img:hover {
    opacity: 0.5;
    transform: scale(1.05);
    transition: 0.6s ease-in-out;
}
/* *******************DESIGN************* */
#Design {
    height: 1400px;
    background-color: #f1f2f6;
    padding: 1px 2%;
}
#Design h2{
    padding-top: 60px;
}
#Lucas{
    background: url(media/ocean.jpg);
}
#RymouX62{
    background: url(media/chateau\ -\ Copie\ \(2\).JPG);

}
#Louis{
    background: url(media/phare\ -\ Copie.JPG);
}
#Moi{
    background: url(media/vignes.jpg);
}
#Design li {
    margin: 65px 100px 0 100px;
    height: 226px;
    width: 55%;
    max-width: 550px;
    float: left;
    box-shadow: 6px 6px 28px -1px rgba(0, 0, 0, 0.75);
}
#Design p{
    height: 45px;
    width: 235px;
    background-color: #01DF74;
    float:right;
    margin: 50px -180px 0 0;
    font-size: 1.5em;
    text-align: center;
    padding-top: 15px;
    box-shadow: 4px 4px 0 1px rgba(90, 161, 43, 1);
}
#Design #RymouX62,#Design #Moi {
    float: right;
}
#RymouX62 p, #Design #Moi p {
    float: left;
    background-color: cyan;
    margin-left: -180px;
    box-shadow: -4px 4px 0 1px rgba(15, 154, 156, 1);
}
/* ********************Build********** */
#Build {
    background-color: #FFFAE1;
    padding: 10px 0px 100px 0px;
    
}
#texteMilieu {
    padding: 0px 20%;
}
#Build {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 10px;
}
#Build p{
    color: black;
}
.imageBuild h2 {
    font-family: 'Dancig Script', cursive;
    text-align: center;
    font-size: 1.8em;
    margin: 15px;
    font-weight: 300;
}
.imageBuild img {
    border-radius: 10px;
    box-shadow: 3px 4px 5px 4px rgba(0, 0, 0, 0.7);
}
.imageBuild img:hover {
    opacity: 0.5;
    transform: scale(1.05);
    transition: 0.6s ease-in-out;
}